<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="9c498cbe-4696-4cd9-bfa4-07cb675025e4"
    Publisher="CN=Damian"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="9c498cbe-4696-4cd9-bfa4-07cb675025e4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Xaml Controls Examples</DisplayName>
    <PublisherDisplayName>Morozov Damian</PublisherDisplayName>
    <Logo>Assets\StoreLogo-sdk.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="XamlControls.App">
      <uap:VisualElements
        DisplayName="XamlControls"
        Square44x44Logo="Assets\SmallTile-sdk.png"
        Description="Xaml Controls Examples"
        BackgroundColor="#00b2f0" Square150x150Logo="Assets\squaretile-sdk.png">
        <uap:DefaultTile >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Splash-sdk.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>